body {
  background-color: rgba(255, 255, 255, 0.7);
  width: 600px;
  margin: 25px auto;
  text-align: center;
  border-radius: 25px;
  background-image: url(image/8\ ball.webp) no-repeat center fixed;
  background-size: cover;
  padding-bottom: 10px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  margin: 40px 0;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
p {
  font-size: 25px;
  color: white;
}
html {
  background-image: url(image/galaxy.webp);
}

input {
  width: 400px;
}
